@import 'compass/css3';
@import '../../styles/variables';

.pj__menu {
    position: fixed;
    z-index: 99;
    padding: 0 16px;
    bottom: 48px;
    right: 16px;
}

.pj__create {
    @include display-flex;
    @include align-items(center);
    @include flex-direction(column);
}

.pj__group {
    overflow-y: scroll;
    @include display-flex;
    height: 300px;
}

.pj__input {
    @include flex(1);
}
.pj__icon {
    width: 56px;
}

.pj__section {
    position: relative;
}

.pj__toolbar {
    background-color: $color-grey-200;
    padding: 16px;
    width: 100%;
}


.pj__tips {
    color: $secondary-text-color;
    margin-top: 16px;
}

